<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <%# <script src="https://cdn.opalrb.com/opal/current/opal.js" onload="Opal.load('opal')"></script> %>
</head>
<body>
  <%= yield %>
</body>
</html>